@import "tailwindcss";
@custom-variant dark (&:is(.dark *));
@theme {
  --color-back: #282c33;
  --color-grey: #abb2bf;
  --color-text: #2c2f33;
}

.light {
  --background: #282c33;
  --foreground: #f5f5f5;
  --color-primary: #c778dd;
  --color-primary-text: #abb2bf;
}

.dark {
  --background: #ffffff;
  --foreground: #282c33;
  --color-primary: #7d3c98;
  --color-primary-text: #2c2f33;
}

body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: var(--font-fira-code);
}

* {
  transition: background-color 0.2s ease, color 0.2s ease;
}
